<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-content">
      <h3>I'm a footer!</h3>
      <p>I am a passionate and enthusiastic Front End Developer with a diverse skill set. I have been working within the eCommerce world for 3 years now and I am currently working as a 'Font-end eCommerce Developer'.</p>

      <p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>

    <div class="footer-social">
      <ul>
        <li>
          <a href="#{{ site.skype_username }}">
            <i class="fa fa-skype"></i>
          </a>
        </li>
        <li>
          <a href="http://www.github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

</footer>
