<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-content">
      <h3>lorem ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facere laboriosam dolores, nobis iste repellendus. Ut dicta alias natus vero, neque, nihil consequatur animi inventore molestiae, blanditiis odio facere autem.</p>

      <p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>

    <div class="footer-social">
      <ul>
        <li>
          <a href="http://www.twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="http://www.github.com/{{ site.github.username }}">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

</footer>
