<nav class="site-nav">
  <ul>
    {% for link in site.links %}
      <li>
        <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

<header class="site-header gradient-bar">

<h1 class="site-title mega">
  <a href="{{ site.baseurl }}"><span class ="title">Yon Brooks</span></a>
</h1>

<h3>Portfolio</h3>

<section class="container">
  <h1>
    <span class="title">Yon Brooks</span>
    <span class="title">Design / Developer</span>
    <span class="title">Portfolio</span>
  </h1>
</section>

</header>
