//about span style
body > div > div > article > div > p:nth-child(1) > span{
	font-size: 50px;
    font-family: sans-serif;
    text-decoration: underline;
}

.post-list {
	@extend %clearfix;
	list-style: none;
}

.post {
	float: left;
	width: 50%;
	padding: 0 3em 1em;

	&:nth-cild(odd) {
		clear: both;
	}
}

.post-read-more-link {
	text-align: center;
}

.post-featured {
	float: none;
	margin: 0 auto;
}

.post-tags {
	min-height: 50px;
	text-align: center;
	margin-left: 0;

	li {
		display: inline;
		list-style: none;
		font-size: 1.5em;
		margin-left: 5px;
		background-color: $yellow-color;
		border-radius: 50%;
		padding: 10px;
	}
}

.post-img {
    text-align: center;
    margin-bottom: 60px;
}

.post-span {
	font-size: 1.5em;
}

// Single project page

.post-header {
	text-align: center;
}

.post-title {
	margin: 0;
}

.post-meta {
	color: $blue-color;
	font-size: $h4-font-size;
}

.post-body {
	width: 90%;
	max-width: 40em;
	margin: $h2-font-size auto;

	h1, h2, h3, h4 {
		max-width: 80%;
		margin: $h2-font-size auto;
	}
}

@media screen and (max-width: 790px) {
    .post {
        width: 100%;
    }
}