@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

$shadow: #533d4a;
$red: #e55643 ;
$green: #2b9f5e;
$yellow: #f1c83c;

.container{
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
}

.title {
  font-family: 'Fjalla One', sans-serif;
  display: block;
  transform: translateX(0%) rotate(-10deg);
  color: #fff;
  
  span {
    transform: skew(-10deg);
    min-width: 10px;
    min-height: 10px;
    position: relative;
  }
}